.sing_in_block{
    width: 100%;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    height: 60%;
}

.sing_in_block h3{
    color: white;
}

.sing_in_block .sing_in_block_content{
    width: 20%;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(51, 51, 51, 0.8);
    display: flex;
    flex-flow: column;
    justify-items: center;
    justify-content: center;
    gap: 20px;
}

.sing_inp{
    display: flex;
    flex-flow: column;
}

.sing_inp label{
    color: white;
    font-weight: 600;
}