<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/admin/header/style.css" rel="stylesheet">
    <link href="/admin/home_page/style.css" rel="stylesheet">
    <link href="/admin/users_page/style.css" rel="stylesheet">
    <link href="/admin/profile_page/style.css" rel="stylesheet">
    <link href="/admin/statistic_page/style.css" rel="stylesheet">
    <link href="/admin/log_book_page/style.css" rel="stylesheet">
    <link href="/admin/med_card_page/style.css" rel="stylesheet">

    <link href="../static/admin/med_card_page/style.css" rel="stylesheet">
    <link href="../static/admin/header/style.css" rel="stylesheet">
    <link href="../static/admin/home_page/style.css" rel="stylesheet">
    <link href="../static/admin/users_page/style.css" rel="stylesheet">
    <link href="../static/admin/profile_page/style.css" rel="stylesheet">
    <link href="../static/admin/statistic_page/style.css" rel="stylesheet">
    <link href="../static/admin/log_book_page/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link href= "https://use.fontawesome.com/releases/v6.4.2/css/all.css"
          type="text/css"
          rel="stylesheet">
    <title>Добро пожаловать</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="logo_container">
            <a class="navbar-brand" href="#" style="color: white;font-weight: 600;margin-left: 20px;">
                <img src="/images/logo.png" alt="Bootstrap" width="50" height="50">
                Мед центр
            </a>
        </div>
            <ul>
                <div class="person_avatar">
                    <img th:src="@{/admin/{userId}/avatar(userId=${admin.id})}">
                    <div>
                        <h5>Никита Радин</h5>
                        <span>Администратор</span>
                    </div>
                </div>
                <li>
                    <a th:href="@{/logout}">
                        <i title="Выход" class="fa-solid fa-right-from-bracket"></i>
                    </a>
                </li>
            </ul>
    </nav>
    <div class="header_content" id="header_content" >
        <div class="tool_bar" id="tool_bar">
            <ul>
                <li >
                    <i class="fa-solid fa-house"></i>
                    Главная
                </li>
                <li>
                    <i class="fa-solid fa-user"></i>
                    Профиль
                </li>
                <li>
                    <i class="fa-solid fa-users"></i>
                    Пользователи
                </li>
                <li>
                    <i class="fa-solid fa-book"></i>
                    <div style="position: relative;padding-top: 10px;padding-right: 20px">
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" th:text="${numberRecords}" >
                        99+<span class="visually-hidden">unread messages</span>
                    </span>
                        Журнал записей
                    </div>
                </li>
                <li>
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    Ваша история посящений
                </li>
                <li>
                    <i class="fa-solid fa-chart-line"></i>
                    Статистика
                </li>
                <li>
                    <i class="fa-solid fa-book-medical"></i>
                    Мед карта
                </li>
            </ul>
        </div>
        <div  class="home_block">
            <div class="home_block_content">
                <ul class="list_home_content">
                    <li class="item_list">
                        <h2>Ваши ближайшие записи</h2>
                        <ul class="list_patient_records">
                            <li th:each="recordToDay:${listRecordToDay}">
                                <div class="home_card">
                                    <h5 th:text="${recordToDay.doctor.specialization}">Кардиолог</h5>
                                    <div class="home_card_description">
                                        <div class="card_home_time">
                                            <i class="fa-solid fa-clock"></i>
                                            <small th:text="${recordToDay.time}"></small>
                                            <span>Сегодня</span>
                                        </div>
                                        <div class="person_records">
                                            Врач
                                            <div>
                                                <img th:src="@{/admin/{userId}/avatar(userId=${recordToDay.doctor.id})}">
                                                <span th:text="${recordToDay.doctor.name+' '+recordToDay.doctor.sur_name+' '+recordToDay.doctor.patronymic}">Радин Никита Сергеевич</span>
                                            </div>
                                        </div>
                                        <div class="person_records">
                                            Пациент
                                            <div>
                                                <img th:src="@{/admin/{userId}/avatar(userId=${recordToDay.user.id})}">
                                                <span th:text="${recordToDay.user.name+' '+recordToDay.user.sur_name+' '+recordToDay.user.patronymic}">Радин Никита Сергеевич</span>
                                            </div>
                                        </div>
                                        <button onclick="cancelRecord(this)" th:data-id="${recordToDay.id}" style="margin-top: 10px" type="button" class="btn btn-danger">Отменить запись</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li  class="item_list">
                        <h2>Записи пациентов на сегодня</h2>
                        <ul class="list_patient_records">
                            <li th:each="recordToDay:${listAnyClientRecordToday}">
                                <div class="home_card">
                                    <h5 th:text="${recordToDay.doctor.specialization}">Кардиолог</h5>
                                    <div class="home_card_description">
                                        <div class="card_home_time">
                                            <i class="fa-solid fa-clock"></i>
                                            <small th:text="${recordToDay.time}"></small>
                                            <span>Сегодня</span>
                                        </div>
                                        <div class="person_records">
                                            Врач
                                            <div>
                                                <img th:src="@{/admin/{userId}/avatar(userId=${recordToDay.doctor.id})}">
                                                <span th:text="${recordToDay.doctor.name+' '+recordToDay.doctor.sur_name+' '+recordToDay.doctor.patronymic}">Радин Никита Сергеевич</span>
                                            </div>
                                        </div>
                                        <div class="person_records">
                                            Пациент
                                            <div>
                                                <img th:src="@{/admin/{userId}/avatar(userId=${recordToDay.user.id})}">
                                                <span th:text="${recordToDay.user.name+' '+recordToDay.user.sur_name+' '+recordToDay.user.patronymic}">Радин Никита Сергеевич</span>
                                            </div>
                                        </div>
                                        <button onclick="cancelRecord(this)" th:data-id="${recordToDay.id}" style="margin-top: 10px" type="button" class="btn btn-danger">Отменить запись</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div  class="profile_block">
            <h2>Ваш профиль</h2>
            <form method="post" enctype="multipart/form-data" th:action="@{/admin/{userId}/update(userId=${admin.id})}">
                <div class="content_profile">
                    <i class="fa-solid fa-circle-check sec_alert" th:if="${successUpdatePers}"></i>
                    <div class="avatar_profile">
                        <img th:src="@{/admin/{userId}/avatar(userId=${admin.id})}">
                        <input onchange="changePhoto(this)" name="image" id="profile_file_avatar" type="file">
                        <label for="profile_file_avatar">Загрузить фото</label>
                    </div>
                    <div class="description_profile">
                        <ul>
                            <li>
                                <div class="inp_block" th:classappend="${bindingResultUpdate != null and bindingResultUpdate.hasFieldErrors('name') ? 'error' : ''}">
                                    <label>
                                        Ваше имя
                                    </label>
                                    <i class="fa-regular fa-circle-xmark"></i>
                                    <input name="name"  th:value="${dtoUpdate == null ? admin.name : dtoUpdate.name}" placeholder="Введите новое имя">
                                    <small th:if="${bindingResultUpdate!=null && bindingResultUpdate.getFieldError('name')!=null}" th:text="${bindingResultUpdate.getFieldError('name').getDefaultMessage}"></small>
                                </div>
                                <div class="inp_block" th:classappend="${bindingResultUpdate != null and bindingResultUpdate.hasFieldErrors('sur_name') ? 'error' : ''}">
                                    <label>
                                        Ваше фамилия
                                    </label>
                                    <i class="fa-regular fa-circle-xmark"></i>
                                    <input name="sur_name" th:value="${dtoUpdate == null ? admin.sur_name : dtoUpdate.sur_name}" placeholder="Введите новую фамилия">
                                    <small th:if="${bindingResultUpdate!=null && bindingResultUpdate.getFieldError('sur_name')!=null}" th:text="${bindingResultUpdate.getFieldError('sur_name').getDefaultMessage}"></small>
                                </div>
                                <div class="inp_block" th:classappend="${bindingResultUpdate != null and bindingResultUpdate.hasFieldErrors('patronymic') ? 'error' : ''}">
                                    <label>
                                        Ваше отчество
                                    </label>
                                    <i class="fa-regular fa-circle-xmark"></i>
                                    <input name="patronymic" th:value="${dtoUpdate == null ? admin.patronymic : dtoUpdate.patronymic}" placeholder="Введите новое отчество">
                                    <small th:if="${bindingResultUpdate!=null && bindingResultUpdate.getFieldError('patronymic')!=null}" th:text="${bindingResultUpdate.getFieldError('patronymic').getDefaultMessage}"></small>
                                </div>
                                <div class="inp_block" th:classappend="${bindingResultUpdate != null and bindingResultUpdate.hasFieldErrors('phone') ? 'error' : ''}">
                                    <label>
                                        Ваш номер телефона
                                    </label>
                                    <i class="fa-regular fa-circle-xmark"></i>
                                    <input name="phone" th:value="${dtoUpdate == null ? admin.phone : dtoUpdate.phone}" placeholder="Введите новый номер телефона">
                                    <small th:if="${bindingResultUpdate!=null && bindingResultUpdate.getFieldError('phone')!=null}" th:text="${bindingResultUpdate.getFieldError('phone').getDefaultMessage}"></small>
                                </div>
                            </li>
                            <li>
                                <div class="inp_block">
                                    <label>
                                        Ваш Email
                                    </label>
                                    <input name="email" th:value="${admin.email}" placeholder="Введите новый email">
                                </div>
                                <div class="inp_block" th:classappend="${bindingResultUpdate != null and bindingResultUpdate.hasFieldErrors('password') ? 'error' : ''}">
                                    <label>
                                        Ваш пароль
                                    </label>
                                    <i class="fa-regular fa-circle-xmark"></i>
                                    <input  th:value="${dtoUpdate == null ? admin.password : dtoUpdate.password}" name="password" placeholder="Введите новый пароль">
                                    <small th:if="${bindingResultUpdate!=null && bindingResultUpdate.getFieldError('password')!=null}" th:text="${bindingResultUpdate.getFieldError('password').getDefaultMessage}"></small>
                                </div>
                                <div class="inp_block">
                                    <label>
                                        Дата вашкй регистрации
                                    </label>
                                    <input class="read_only" readonly th:value="${admin.date_ragistration.toLocalDate()
                                +' '
                                +admin.date_ragistration.getHour()
                                +':'
                                +admin.date_ragistration.getMinute()}" placeholder="Введите новое имя">
                                </div>
                                <div class="inp_block">
                                    <label>
                                        Статус
                                    </label>
                                    <input class="read_only" readonly th:value="'Активен'" placeholder="Введите новое имя">
                                </div>
                            </li>

                        </ul>
                    </div>
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
        <div  class="users_block" id="users_block">
            <div class="tool_users_type">
                <div class="tool_users_type_button" id="tool_users_type_button">
                    <button>Пациенты</button>
                    <button>Врачи</button>
                    <button>Администраторы</button>
                    <div style="position: absolute;left: 40%" class="alert alert-success alert-dismissible fade show" role="alert" th:if="${secAddRecord}">
                        <strong>Успешно !</strong> Ваша запись успешно добавлена .
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                <div class="tool_users_type_statistic">
                    <h5>Количество пользователей : <span th:text="${all_users}"></span></h5>
                </div>
            </div>
            <div class="patient_type_block">
                <div class="tool_action_users">
                    <h2>Пациенты</h2>
                        <button style="background-color: #6a5ac3; color: white">Добавить пациента</button>
                        <button>Импортировать пациента XML</button>
                    <button class="filter_patient" id="filter_patient"><i class="fa-solid fa-chevron-left"></i> Фильтр</button>
                    <div id="filterContainer" class="filterContainer">
                        <input type="text" placeholder="Параметр 1">
                        <input type="text" placeholder="Параметр 2">
                        <input type="text" placeholder="Параметр 3">
                    </div>
                </div>
                <div class="table_patient" style="height: 100%;overflow-y: auto;width: 100%">
                    <table>
                        <tr>
                            <th>Фото</th>
                            <th>ФИО</th>
                            <th>Номер телефона</th>
                            <th>Email</th>
                            <th>Статус</th>
                            <th>Статистика</th>
                            <th>Операции</th>
                        </tr>
                        <tr th:each="patients:${listPatient}">
                            <td><img th:src="@{/admin/{userId}/avatar(userId=${patients.id})}"></td>
                            <td th:text="${patients.name+' '+patients.sur_name+' '+patients.patronymic}">Петров Петрович Петр</td>
                            <td th:text="${patients.phone}">+375293421122</td>
                            <td th:text="${patients.email}">eungfb@mailto.plus</td>
                            <td th:text="${patients.statusUser== T(com.example.hospital.model.StatusUser).ACTIVE_STATUS ? 'Активен' : 'Заблокирован'}"
                                th:class="${patients.statusUser== T(com.example.hospital.model.StatusUser).ACTIVE_STATUS ? 'active_status':'block_status'}">
                                <span class="active_status">Активен</span>
                            </td>
                            <td>
                                <div class="table_but_tool">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <i class="fa-solid fa-chart-simple"></i>
                                    <a onclick="showConfirmationModal(this)"  th:data-id="${patients.id}">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <a th:href="@{/admin/{adminId}/block:{idUser}(idUser=${patients.id},adminId=${admin.id})}" th:if="${patients.statusUser== T(com.example.hospital.model.StatusUser).ACTIVE_STATUS}" class="btn btn-outline-danger">Заблокировать</a>
                                <a th:href="@{/admin/{adminId}/unblock:{idUser}(idUser=${patients.id},adminId=${admin.id})}" th:if="${patients.statusUser== T(com.example.hospital.model.StatusUser).BLOCK_STATUS}" class="btn btn-outline-success">Разблокировать</a>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="doctor_type_block">
                <div class="tool_action_users">
                    <h2>Врачи</h2>
                    <button style="background-color: #6a5ac3; color: white" data-bs-target="#addDoctorModal" data-widget-name="addDoctorModal" onclick="openModal(this)" data-bs-toggle="modal">Добавить врача</button>
                    <div style="width: 50%;display: flex;align-items:center">
                        <input id="searchInput" placeholder="Поиск">
                    </div>
                    <select>
                        <option>Выберите тип врача</option>
                        <option>Уролог</option>
                        <option>Выберите тип врача</option>
                    </select>
                </div>
                <ul class="list_doctor" id="list_doctor">
                    <li th:each="doctors:${listDoctor}" class="card_item">
                        <div class="card" style="width: 19rem;">
                            <img  th:src="@{/admin/{userId}/avatar(userId=${doctors.id})}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 th:text="${doctors.name+' '+doctors.sur_name+' '+doctors.patronymic}" class="card-title centerEl">Card title</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" th:text="${doctors.statusUser== T(com.example.hospital.model.StatusUser).ACTIVE_STATUS ? 'Активен' : 'Заблокирован'}"
                                    th:classappend="${doctors.statusUser== T(com.example.hospital.model.StatusUser).ACTIVE_STATUS ? 'active_status':'block_status'}"></li>
                                <li class="list-group-item centerEl" th:text="${doctors.specialization}"></li>
                                <li class="list-group-item" ><small th:text="${'Опыт работы более '+ doctors.experience +' лет'}"></small><i class="fa-solid fa-calendar-check"></i></li>
                                <li class="list-group-item" th:text="'Возраст '"></li>
                                <li class="list-group-item" style="gap: 10px"><small th:text="'Регйстинг '+${doctors.rating}"></small><i style="color: gold" class="fa-solid fa-star"></i></li>

                            </ul>
                            <div class="card-body">
                                <div style="display:flex;align-items: center;gap: 10px">
                                    <a class="btn btn-primary" href="#" th:data-id="${doctors.id}"  th:onclick="'showAddRecordModal(this,'+${admin.id}+')'" data-bs-toggle="modal" data-widget-name="addRecordModal" data-bs-target="#addRecordModal">Записаться на примем</a>
                                    <a onclick="showConfirmationModal(this)"  th:data-id="${doctors.id}"  href="#" class="card-link">Удалить</a>
                                </div>
                                <a th:href="@{/admin/{adminId}/block:{idUser}(idUser=${doctors.id},adminId=${admin.id})}" th:if="${doctors.statusUser== T(com.example.hospital.model.StatusUser).ACTIVE_STATUS}" style="width: 100%" class="btn btn-danger">Заблокировать</a>
                                <a th:href="@{/admin/{adminId}/unblock:{idUser}(idUser=${doctors.id},adminId=${admin.id})}" th:if="${doctors.statusUser== T(com.example.hospital.model.StatusUser).BLOCK_STATUS}" style="width: 100%" class="btn btn-success">Разблокировать</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="patient_type_block">
                <div class="tool_action_users">
                    <h2>Администраторы</h2>
                    <button data-bs-toggle="modal" data-bs-target="#addAdminModal" data-widget-name="addAdminModal" style="background-color: #6a5ac3; color: white" onclick="openModal(this)">Добавить админа</button>
                    <button>Импортировать админов XML</button>
                    <button class="filter_patient"><i class="fa-solid fa-chevron-left"></i> Фильтр</button>
                </div>
                <div  class="table_patient" style="height: 100%;overflow-y: auto;width: 100%">
                    <table >
                        <tr>
                            <th>Фото</th>
                            <th>ФИО</th>
                            <th>Номер телефона</th>
                            <th>Email</th>
                            <th>Статистика</th>
                            <th>Операции</th>
                        </tr>
                        <tr th:each="admins:${listAdmin}">
                            <td><img th:src="@{/admin/{userId}/avatar(userId=${admins.id})}"></td>
                            <td th:text="${admins.name+' '+admins.sur_name+' '+admins.patronymic}">Петров Петрович Петр</td>
                            <td th:text="${admins.phone}">+375293421122</td>
                            <td th:text="${admins.email}">eungfb@mailto.plus</td>
                            <td>
                                <div class="table_but_tool">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <i class="fa-solid fa-chart-simple"></i>
                                    <i onclick="showConfirmationModal(this)"  th:data-id="${admins.id}" class="fa-solid fa-trash"></i>
                                </div>
                            </td>
                            <td>
                                <button  type="button" class="btn btn-outline-success">Разблокировать</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div  class="history_records_block">
            <h2>Журнал записей</h2>
            <div class="table_log_book">
                <table>
                    <thead>
                        <th>№</th>
                        <th>Специлизация</th>
                        <th>Врач</th>
                        <th>Время записи</th>
                        <th>Пациент</th>
                        <th>Действие</th>
                    </thead>
                    <tbody>
                    <tr th:each="logWeek,iterStat:${allRecords}">
                        <td th:text="${iterStat.index + 1}">
                            1
                        </td>
                        <td th:text="${logWeek.doctor.specialization}">
                            Кардиолог
                        </td>
                        <td class="user_description">
                            <img th:src="@{/admin/{userId}/avatar(userId=${logWeek.doctor.id})}">
                            <span class="user_description" th:text="${logWeek.doctor.name+' '+logWeek.doctor.sur_name+' '+logWeek.doctor.patronymic}"></span>
                        </td>
                        <td th:text="${logWeek.date}+' '+${logWeek.time}">
                            10:10  14.12.2000
                        </td>
                        <td class="user_description">
                            <img th:src="@{/admin/{userId}/avatar(userId=${logWeek.user.id})}">
                            <span class="user_description" th:text="${logWeek.user.name+' '+logWeek.user.sur_name+' '+logWeek.user.patronymic}"></span>
                        </td>
                        <td>
                            <button>Подробнее</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="history_records_block history">
            <h2>Ваша история посящений</h2>
            <div class="table_log_book">
                <table>
                    <thead>
                    <th>№</th>
                    <th>Время записи</th>
                    <th>Врач</th>
                    </thead>
                    <tbody>
                    <tr th:each="logWeek,iterStat:${history}">
                        <td th:text="${iterStat.index + 1}">
                            1
                        </td>
                        <td th:text="${logWeek.date}+' '+${logWeek.time}">
                            10:10  14.12.2000
                        </td>
                        <td class="user_description">
                            <img th:src="@{/admin/{userId}/avatar(userId=${logWeek.doctor.id})}">
                            <span class="user_description" th:text="${logWeek.doctor.name+' '+logWeek.doctor.sur_name+' '+logWeek.doctor.patronymic}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div  class="statistic_block">
            <div class="statistic_container">
                <div class="statistic_block_page">
                    <div class="today_workload">
                        <div class="container_progress">
                            <div class="progress_cust"  th:style="'--i:'+${statistic.adminTotal}+';--clr:#43f94a;'" th:classappend="${statistic.adminTotal <50 ? 'less' : ''}">
                                <h3><div style="font-size: 40px" th:text="${statistic.adminTotal}"></div><span >%</span></h3>
                            </div>
                            <h4 style="--clr:#43f94a;">Админы</h4>
                        </div>
                        <div class="container_progress">
                            <div class="progress_cust" th:style="'--i:'+${statistic.doctorTotal}+';--clr:#2ccde9;'" th:classappend="${statistic.doctorTotal <50 ? 'less' : ''}">
                                <h3><div style="font-size: 40px" th:text="${statistic.doctorTotal}"></div><span>%</span></h3>
                            </div>
                            <h4 style="--clr:#2ccde9;">Врачи</h4>
                        </div>
                        <div class="container_progress">
                            <div class="progress_cust" style="--i:25;--clr:#fb297b" th:style="'--i:'+${statistic.PatientTotal}+';--clr:#fb297b;'" th:classappend="${statistic.PatientTotal <50 ? 'less' : ''}">
                                <h3><div style="font-size: 40px" th:text="${statistic.PatientTotal}"></div><span>%</span></h3>
                            </div>
                            <h4 style="--clr:#fb297b;">Пациенты</h4>
                        </div>
                        <div class="container_progress">
                            <div class="progress_cust" th:style="'--i:'+${statistic.blockTotal}+';--clr:#e7bb04;'" th:classappend="${statistic.blockTotal <50 ? 'less' : ''}">
                                <h3><div style="font-size: 40px" th:text="${statistic.blockTotal}"></div><span>%</span></h3>
                            </div>
                            <h4 style="--clr:#e7bb04;">Блок лист</h4>
                        </div>
                    </div>
                </div>
                <div  class="chart_workloadChart statistic_block_page">
                    <canvas  th:data-user="${statistic.getWorkLoadWeek}" id="myChart" height="300%"></canvas>
                </div>
                <div class="statistic_block_page">

                </div>
            </div>
        </div>
        <div class="med_card_block">
            <div>
                <h2>Ваша мед карта</h2>
                <ul class="list_visit">
                    <li class="visit_item" th:each="medCard:${medicalCard}">
                        <ul>
                            <h3 th:text="${medCard.doctor.specialization}">
                                Офтальмолог
                            </h3>
                            <li>
                                Жалобы :
                                <span th:text="${medCard.description}">
                                        За последние две недели я заметил возросшую утомляемость, снижение аппетита и непостоянное настроение. Также испытываю проблемы со сном, часто просыпаюсь ночью и снова заснуть.
Диагноз врача: Депрессивное расстройство.
                                    </span>
                            </li>
                            <li>
                                Диагноз :
                                <span th:text="${medCard.diagnosis}">
                                    Депрессивное расстройство
                                </span>
                            </li>
                            <li>
                                Лечение :
                                <span th:text="${medCard.appointments}">
                                    рекомендуется пройти курс антидепрессантов, начиная с небольших начальных доз, которые постепенно будут увеличиваться. Помимо этого, рекомендуется регулярное использование Алиэкспресс психотерапии для проведения психотерапии, в том числе когнитивно-поведенческой терапии. Пациент также советует вести здоровый образ жизни, включая регулярные физические упражнения и правильное питание. Важно выбирать время для отдыха и ухода за собой. Следует уделять внимание во сне, практиковать перед сном релаксационные техники, чтобы улучшить его качество. Таким образом, в соответствии с указанными рекомендациями, требуется регулярный прием врача-терапевта для контроля эффективности лечения и корректировки его дозировки при необходимости.
                                </span>
                            </li>
                            <li class="dotcor_item">
                                <div>
                                    Дата приема :
                                    <span th:text="${medCard.date_visitation}"> 14.12.2000 12:10</span>
                                </div>
                                <div>
                                    Врач :
                                    <span>
                                        <img th:src="@{/admin/{userId}/avatar(userId=${medCard.patient.id})}">
                                        <label th:text="${medCard.doctor.name}+' '+${medCard.doctor.sur_name}+' '+${medCard.doctor.patronymic}">Радин Никита Сергеевич</label>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" data-bs-backdrop="static" id="addDoctorModal"  aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <form id="form_registration" th:method="post" th:action="@{/registration/doctor/{id}(id=${admin.id})}" th:object="${doctor}" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Регистрация врачей</h1>
                    <button type="button" class="btn-close"  aria-label="Close" onclick="closeModal('addDoctorModal')"></button>
                </div>
                <div class="modal-body">
                        <div class="registration_content" style="gap: 20px">
                            <i class="fa-solid fa-circle-check sec_alert" th:if="${successDocReg}" data-widget-name="check_alert"></i>
                            <div class="avatar_profile" style="align-items: center">
                                <img th:src="@{/images/avatar.jpg}">
                                <input id="doctor_file_avatar" onchange="changePhoto(this)" name="image" type="file">
                                <label for="doctor_file_avatar">Загрузить фото</label>
                            </div>
                            <div  class="inp_block" th:classappend="${bindingResultDoctor != null and bindingResultDoctor.hasFieldErrors('name') ? 'error' : ''}">
                                <label >Введите имя</label>
                                <i class="fa-regular fa-circle-xmark"></i>
                                <input name="name" th:value="${doctor}!=null?${doctor.name}:''">
                                <small th:if="${bindingResultDoctor!=null && bindingResultDoctor.getFieldError('name')!=null}" th:text="${bindingResultDoctor.getFieldError('name').getDefaultMessage}" ></small>
                            </div>
                            <div class="inp_block" th:classappend="${bindingResultDoctor != null and bindingResultDoctor.hasFieldErrors('sur_name') ? 'error' : ''}">
                                <label >Введите фамилию</label>
                                <i class="fa-regular fa-circle-xmark"></i>
                                <input  name="sur_name" th:value="${doctor}!=null?${doctor.sur_name}:''">
                                <small th:if="${bindingResultDoctor!=null && bindingResultDoctor.getFieldError('sur_name')!=null}" th:text="${bindingResultDoctor.getFieldError('sur_name').getDefaultMessage}"></small>
                            </div>
                            <div class="inp_block"  th:classappend="${bindingResultDoctor != null and bindingResultDoctor.hasFieldErrors('patronymic') ? 'error' : ''}">
                                <label >Введите отчество</label>
                                <i class="fa-regular fa-circle-xmark"></i>
                                <input  name="patronymic" th:value="${doctor}!=null?${doctor.patronymic}:''">
                                <small th:if="${bindingResultDoctor!=null && bindingResultDoctor.getFieldError('patronymic')!=null}" th:text="${bindingResultDoctor.getFieldError('patronymic').getDefaultMessage}"></small>
                            </div>
                            <div class="inp_block"  th:classappend="${bindingResultDoctor != null and bindingResultDoctor.hasFieldErrors('phone') ? 'error' : ''}">
                                <label >Введите номер телефона</label>
                                <i class="fa-regular fa-circle-xmark"></i>
                                <input  name="phone" th:value="${doctor}!=null?${doctor.phone}:''">
                                <small th:if="${bindingResultDoctor!=null && bindingResultDoctor.getFieldError('phone')!=null}" th:text="${bindingResultDoctor.getFieldError('phone').getDefaultMessage}"></small>
                            </div>
                            <div class="inp_block" th:classappend="${bindingResultDoctor != null and bindingResultDoctor.hasFieldErrors('date_birth') ? 'error' : ''}">
                                <label>Укажите дату рождения</label>
                                <i class="fa-regular fa-circle-xmark"></i>
                                <input th:value="${doctor}!=null?${doctor.date_birth}:''" type="date" name="date_birth">
                                <small th:if="${bindingResultDoctor!=null && bindingResultDoctor.getFieldError('date_birth')!=null}" th:text="${bindingResultDoctor.getFieldError('date_birth').getDefaultMessage}"></small>
                            </div>
                            <div  th:classappend="${bindingResultDoctor != null and bindingResultDoctor.hasFieldErrors('email') ? 'error' : ''}" class="inp_block">
                                <label >Введите email</label>
                                <i class="fa-regular fa-circle-xmark"></i>
                                <input th:value="${doctor}!=null?${doctor.email}:''" name="email">
                                <small th:if="${bindingResultDoctor!=null && bindingResultDoctor.getFieldError('email')!=null}" th:text="${bindingResultDoctor.getFieldError('email').getDefaultMessage}"></small>
                            </div>
                            <div class="inp_block">
                                <label >Выберите специальность </label>
                                <select  name="specialization">
                                    <option selected th:selected="${doctor!=null ?doctor.specialization eq 'Терапевт':'true'}">
                                        Терапевт
                                    </option>
                                    <option th:selected="${doctor!=null ? doctor.specialization eq 'Травматолог':''}">
                                        Травматолог
                                    </option>
                                    <option th:selected="${doctor!=null ? doctor.specialization eq 'Хирург':''}">
                                        Хирург
                                    </option>
                                    <option th:selected="${doctor!=null ? doctor.specialization eq 'Уролог':''}">
                                        Уролог
                                    </option>
                                    <option th:selected="${doctor!=null ? doctor.specialization eq 'Стоматолог':''}">
                                        Стоматолог
                                    </option>
                                    <option th:selected="${ doctor!=null ? doctor.specialization eq 'Лор':''}">
                                        Лор
                                    </option>
                                    <option th:selected="${doctor!=null ? doctor.specialization eq 'Проктолог':''}">
                                        Проктолог
                                    </option>
                                    <option th:selected="${doctor!=null ? doctor.specialization eq 'Невролог':''}">
                                        Невролог
                                    </option>
                                    <option th:selected="${doctor!=null ? doctor.specialization eq 'Офтальмолог':''}">
                                        Офтальмолог
                                    </option>
                                </select>
                            </div>
                            <div class="inp_block">
                                <label >Введите ваш опыт работы</label>
                                <i class="fa-regular fa-circle-xmark"></i>
                                <input th:value="${doctor}!=null?${doctor.experience}:'1'" onkeydown="return false" type="number" max="100" min="1" value="1"  name="experience">
                                <small></small>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button style="width: 100%" type="submit" class="btn btn-primary">Зарегестрироваться</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="modal fade" data-bs-backdrop="static" id="addRecordModal"  aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleaddRecordModal" style="text-align: center">Окно записи к врачу</h1>
                        <button type="button" class="btn-close"  aria-label="Close" onclick="closeModal('addRecordModal')"></button>
                    </div>
                    <div class="modal-body">
                        <div id="custom-blocks-day"  class="custom-blocks-day">
                            <div class="custom-block" data-widget-name="1">Пн</div>
                            <div class="custom-block" data-widget-name="2">Вт</div>
                            <div  class="custom-block" data-widget-name="3">Ср</div>
                            <div class="custom-block" data-widget-name="4">Чт</div>
                            <div class="custom-block" data-widget-name="5">Пт</div>
                            <div class="custom-block weekend" data-widget-name="6">Сб</div>
                            <div class="custom-block weekend" data-widget-name="7">Вс</div>
                        </div>
                        <div class="time_block" id="time_block">
                            <h3>Выберите время</h3>
                            <div class="schedule" id="schedule">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="justify-content: center;justify-items: center">
                        <button  disabled style="width: 50%" id="register_button_record" type="button" class="btn btn-primary">Зарегестрироваться</button>
                    </div>
                </div>
        </div>
    </div>
    <div class="modal fade" data-bs-backdrop="static" id="addAdminModal"  aria-hidden="true" aria-labelledby="exampleaddAdminModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <form id="form_admin_registration" th:method="post" th:action="@{/registration/admin/{id}(id=${admin.id})}" th:object="${adminReg}" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleaddAdminModal">Регистрация врачей</h1>
                        <button type="button" class="btn-close"  aria-label="Close" onclick="closeModal('addAdminModal')"></button>
                    </div>
                    <div class="modal-body">
                        <div class="registration_content" style="gap: 20px">
                            <i class="fa-solid fa-circle-check sec_alert" th:if="${successAdminReg}" data-widget-name="check_alert"></i>
                            <div class="avatar_profile" style="align-items: center">
                                <img th:src="@{/images/avatar.jpg}">
                                <input id="admin_file_avatar" onchange="changePhoto(this)" name="image" type="file">
                                <label for="admin_file_avatar">Загрузить фото</label>
                            </div>
                            <div  class="inp_block" th:classappend="${bindingResultAdmin != null and bindingResultAdmin.hasFieldErrors('name') ? 'error' : ''}">
                                <label >Введите имя</label>
                                <i class="fa-regular fa-circle-xmark"></i>
                                <input name="name" th:value="${adminReg}!=null?${adminReg.name}:''">
                                <small th:if="${bindingResultAdmin!=null && bindingResultAdmin.getFieldError('name')!=null}" th:text="${bindingResultAdmin.getFieldError('name').getDefaultMessage}" ></small>
                            </div>
                            <div class="inp_block" th:classappend="${bindingResultAdmin != null and bindingResultAdmin.hasFieldErrors('sur_name') ? 'error' : ''}">
                                <label >Введите фамилию</label>
                                <i class="fa-regular fa-circle-xmark"></i>
                                <input  name="sur_name" th:value="${adminReg}!=null?${adminReg.sur_name}:''">
                                <small th:if="${bindingResultAdmin!=null && bindingResultAdmin.getFieldError('sur_name')!=null}" th:text="${bindingResultAdmin.getFieldError('sur_name').getDefaultMessage}"></small>
                            </div>
                            <div class="inp_block"  th:classappend="${bindingResultAdmin != null and bindingResultAdmin.hasFieldErrors('patronymic') ? 'error' : ''}">
                                <label >Введите отчество</label>
                                <i class="fa-regular fa-circle-xmark"></i>
                                <input  name="patronymic" th:value="${adminReg}!=null?${adminReg.patronymic}:''">
                                <small th:if="${bindingResultAdmin!=null && bindingResultAdmin.getFieldError('patronymic')!=null}" th:text="${bindingResultAdmin.getFieldError('patronymic').getDefaultMessage}"></small>
                            </div>
                            <div class="inp_block"  th:classappend="${bindingResultAdmin != null and bindingResultAdmin.hasFieldErrors('phone') ? 'error' : ''}">
                                <label >Введите номер телефона</label>
                                <i class="fa-regular fa-circle-xmark"></i>
                                <input  name="phone" th:value="${adminReg}!=null?${adminReg.phone}:''">
                                <small th:if="${bindingResultAdmin!=null && bindingResultAdmin.getFieldError('phone')!=null}" th:text="${bindingResultAdmin.getFieldError('phone').getDefaultMessage}"></small>
                            </div>
                            <div class="inp_block" th:classappend="${bindingResultAdmin != null and bindingResultAdmin.hasFieldErrors('date_birth') ? 'error' : ''}">
                                <label>Укажите дату рождения</label>
                                <i class="fa-regular fa-circle-xmark"></i>
                                <input th:value="${adminReg}!=null?${adminReg.date_birth}:''" type="date" name="date_birth">
                                <small th:if="${bindingResultAdmin!=null && bindingResultAdmin.getFieldError('date_birth')!=null}" th:text="${bindingResultAdmin.getFieldError('date_birth').getDefaultMessage}"></small>
                            </div>
                            <div  th:classappend="${bindingResultAdmin != null and bindingResultAdmin.hasFieldErrors('email') ? 'error' : ''}" class="inp_block">
                                <label >Введите email</label>
                                <i class="fa-regular fa-circle-xmark"></i>
                                <input th:value="${adminReg}!=null?${adminReg.email}:''" name="email">
                                <small th:if="${bindingResultAdmin!=null && bindingResultAdmin.getFieldError('email')!=null}" th:text="${bindingResultAdmin.getFieldError('email').getDefaultMessage}"></small>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button style="width: 100%" type="submit" class="btn btn-primary">Зарегестрироваться</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="deleteUserModalLabel"  aria-hidden="true" aria-labelledby="exampledeleteUserModalLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampledeleteUserModalLabel">Процесс удаления</h1>
                    <button type="button" class="btn-close"  aria-label="Close" onclick="closeModal('deleteUserModalLabel')"></button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите удалить пользователя ?
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-danger">Да</button>
                    <button class="btn btn-primary" onclick="closeModal('deleteUserModalLabel')" >Нет</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/admin/users_page/script.js" defer></script>
    <script src="/admin/users_page/search.js" defer></script>
    <script src="/admin/header/script.js" defer></script>
    <script src="/admin/profile_page/script.js" defer></script>
    <script src="../static/admin/header/script.js" defer></script>
    <script src="../static/admin/users_page/script.js" defer></script>
</body>
</html>