<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo_container">
            <a class="navbar-brand" href="#" style="color: white;font-weight: 600;margin-left: ">
                <img src="../static/images/logo.png" alt="Bootstrap" width="50" height="50">
                Мед центр
            </a>
        </div>
        <ul>
            <div class="person_avatar">
                <img src="../static/images/avatar.jpg">
                <div>
                    <h5>Никита Радин</h5>
                    <span>Врач</span>
                </div>
            </div>
            <li>
                <i title="Выход" class="fa-solid fa-right-from-bracket"></i>
            </li>
        </ul>
    </nav>
    <div class="header_content" id="header_content">
        <div class="tool_bar" id="tool_bar">
            <ul>
                <li >
                    <i class="fa-solid fa-house"></i>
                    Главная
                </li>
                <li>
                    <i class="fa-solid fa-user"></i>
                    Профиль
                </li>
                <li>
                    <i class="fa-solid fa-users"></i>
                    Пользователи
                </li>
                <li>
                    <i class="fa-solid fa-book"></i>
                    Журнал записей
                </li>
                <li>
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    Ваша история посящений
                </li>
                <li>
                    <i class="fa-solid fa-chart-line"></i>
                    Статистика
                </li>
            </ul>
        </div>
        <div  class="profile_block">
            <h2>Ваш профиль</h2>
            <div class="content_profile">
                <div class="avatar_profile">
                    <img src="../static/images/avatar.jpg">
                    <input id="profile_file_avatar" type="file">
                    <label for="profile_file_avatar">Загрузить фото</label>
                </div>
                <div class="description_profile">
                    <ul>
                        <li>
                            <div>
                                <label>
                                    Ваше имя
                                </label>
                                <input placeholder="Введите новое имя">
                            </div>
                            <div>
                                <label>
                                    Ваше имя
                                </label>
                                <input placeholder="Введите новое имя">
                            </div>
                            <div>
                                <label>
                                    Ваше имя
                                </label>
                                <input placeholder="Введите новое имя">
                            </div>
                            <div>
                                <label>
                                    Ваше имя
                                </label>
                                <input placeholder="Введите новое имя">
                            </div>
                        </li>
                        <li>
                            <div>
                                <label>
                                    Ваше имя
                                </label>
                                <input placeholder="Введите новое имя">
                            </div>
                            <div>
                                <label>
                                    Ваше имя
                                </label>
                                <input placeholder="Введите новое имя">
                            </div>
                            <div>
                                <label>
                                    Ваше имя
                                </label>
                                <input placeholder="Введите новое имя">
                            </div>
                            <div>
                                <label>
                                    Ваше имя
                                </label>
                                <input placeholder="Введите новое имя">
                            </div>
                        </li>
                        <li>
                            <div>
                                <label>
                                    Ваше имя
                                </label>
                                <input placeholder="Введите новое имя">
                            </div>
                            <div>
                                <label>
                                    Ваше имя
                                </label>
                                <input placeholder="Введите новое имя">
                            </div>
                            <div>
                                <label>
                                    Ваше имя
                                </label>
                                <input placeholder="Введите новое имя">
                            </div>
                            <div>
                                <label>
                                    Ваше имя
                                </label>
                                <input placeholder="Введите новое имя">
                            </div>
                        </li>
                    </ul>
                </div>
                <button class="btn btn-primary" type="submit">Сохранить</button>
            </div>
            <div class="schedule_profile">

            </div>
        </div>
    </div>
</body>
</html>