<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/main/style.css">
    <link href="/autorization/style.css">
</head>
<body>
    <header class="header">
        <a class="logo">logo</a>
        <nav>
            <a href="#">Главная</a>
            <a href="#">Услуги</a>
            <a href="#">Вход</a>
            <a href="#">Контакты</a>
        </nav>
    </header>
    <div hidden>
        <h2>Авторизация</h2>
        <label>Введите email</label>
        <input type="email">
        <label>Введите пароль</label>
        <input type="password">
        <button>Войти</button>
        <a>Забыли пароль ?</a>
        <span></span>
        <div>
            Войти с помощью
        </div>
    </div>
    <footer>

    </footer>
</body>
</html>